{% extends "network/layout.html" %}


{% block body %}
    
    <h2>Following</h2>
        
    <div class ="all-posts">
        {% for post in posts_of_the_page %}
            <div class ="row post mx-5">
                <h5 class="username"><a href="{% url 'profile' user_id=post.user.id%}">@{{ post.user}}</a></h5>
                <h6 class="content">{{ post.content }}</h6>
                <p class="date">{{ post.date }}</p>
                
                <form action="{% url 'like' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button type="submit" class="heart-button">
                        {% if user in post.likes.all %}
                            <i class="fas fa-heart"></i>
                        {% else %}
                            <i class="far fa-heart"></i>
                        {% endif %}
                        <span class="like-count">{{ post.likes.count }}</span>
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            {% if posts_of_the_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts_of_the_page.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% if posts_of_the_page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts_of_the_page.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>
{% endblock %}