.all-posts{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px
}

.post{
    border: 0.1px solid gray;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px 20px;
    box-sizing: border-box;
}
.heart-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #ff0000;
}
.heart-button .fa-heart {
  color: #ff0000;
}
.heart-button .fa-heart-o {
  color: #ff0000;
}
  
